---
import Dropdown from "../components/Dropdown.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout>
  <main class="flex flex-col justify-center items-center px-4 bg-[#ffffff]">
    <Header />

    <p class="text-center text-gray-700 mt-4 mb-8 max-w-xl text-lg sans-serif">
      Nuestra misión es amar incondicionalmente a cada niño que Dios pone en
      nuestras manos y dejar una huella de gran valor en su historia
    </p>
    <Dropdown />
  </main>
</Layout>
