---
import Dropdown from "../components/Dropdown.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <main
    class="flex flex-col justify-center items-center  px-4 bg-[#ffffff]"
  >
    <Header />

    <p class="text-center text-gray-700 mt-4 mb-8 max-w-xl text-lg">
      Welcome to the <span class="font-bold text-[#535983]"
        >Meet the Teacher</span
      > portal. Select your grade below to continue and explore all the amazing programs
      we have.
    </p>
    <Dropdown />
  </main>
</Layout>
