---
---



<header class="text-center mt-40">
  <img src="/Logo-completo.png" alt="Campestre Americano School" class="mx-auto h-18 mb-2" />
  <h1 class="text-2xl font-bold text-[#535983] mt-14 mb-8">Meet the Teacher</h1>
</header>