---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>My Site</title>
</head>
<body class="flex flex-col min-h-screen">
  <main class="flex-grow">
    <slot />
  </main>
  <Footer />
</body>
</html>
</html>